body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-top: 8px solid;
}

.jato { border-color: #ff00d4; } /* Dourado para VIP */
.carga { border-color: #6b0eff; }    /* Cinza para Carga */

.info {
    text-align: left;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.controles button {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: 0.3s;
}

.controles button:hover { background-color: #0056b3; }

.btn-torre { background-color: #f07eff !important; }

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#log-mensagens {
    margin-top: 30px;
    padding: 15px;
    background: #333;
    color: #00ff00;
    border-radius: 8px;
    display: inline-block;
    min-width: 400px;
}